post-creator-popover {
    .action-buttons {
        display: flex;
        justify-content: flex-end;
        .cancel-button{
            color: gray;
        }
    }
}

ion-popover.popover-post-create {
    .popover-content {
        width: 90%;
        min-width: 300px;
        max-width: 100%;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }
}